@charset "UTF-8";

.center{
	text-align: center;	
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.b{
	font-weight: bold;
}
.m-size{
	width: 40%;
}
.s-text{
	color: black;
	font-size: 15px;
}
.m-text{
	font-size: 20px;
}
.margin5{
	margin: 5px;
}
.margin10{
	margin: 10px 0px;
}
.magin-top-15{
	margin-top: 15px;
}
.margin-top{
	margin-top: 20px;
}
.margin-bottom{
	margin-bottom: 16px;
}
.title-button{
	background-color: #FEF9E7;
	border: none;
	border-radius: 5px;
	margin: 3px;
	padding: 4px 25px;
	font-weight: bold;
}
.title-button:hover{
	background-color: #FAC710;
}
.day-button{
	background-color: white;
	border: 1px solid #FAC710;
	border-radius: 5px;
	margin: 5px;
	padding: 3px 8px;
}
.day-button:hover {
	background-color: #FAC710;
}
.selected{
	background-color: #FAC710;
}
.selected-board{
	background-color: #FAC710;
	color: white;
}
.day-button.selected {
  background-color: #FAC710;
}
.used{
	background-color: #FEF9E7;
}
.title-container{
	margin: 40px 0px 30px 0px;
	text-align: center; 
} 
.title-text{
	font-size: 27px;
	font-weight: bold;
}
.aboutUs{
 
 background-image: url("../Image/AboutUsImage/aboutUs.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 2600px;
 
}
.height{
	height: 300px;
}
.t-table{
	width: 100%;
	text-align: center;
	margin: 20px 0px;
}
.t-td{
	padding: 15px 10px;
	background-color: #fafafa;
	border-bottom: 2px solid white;
}
.t-th{
	padding: 15px 10px;
	width: 40%;  
	background-color: #fafafa;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}
.p-text{
	margin: 0;
	color: #333333;
	font-size: 18px;
}
.p-box{
	background-color: #FEF9E7; 
	padding: 6px 25px;
	border-radius: 5px;
	color: black;
}
.review-container{
	margin: 40px 0px 20px 0px; 
}
.review-box{
	width: 100%;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	padding: 15px 20px;
}
.r-box{
	margin: 10px 0px;
}
.search-box{
	padding: 0.375rem 0.75rem;
	font-weight: 400;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-choose{
	padding: 0.375rem 0.75rem;
	font-weight: 400;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}