@charset "UTF-8";

.center{
	text-align: center;	
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.b{
	font-weight: bold;
}
.m-size{
	width: 40%;
}
.m-text{
	font-size: 20px;
}
.margin5{
	margin: 5px;
}
.magin-top-15{
	margin-top: 15px;
}
.margin-top{
	margin-top: 20px;
}
.margin-bottom{
	margin-bottom: 16px;
}
.day-button{
	background-color: white;
	border: 1px solid #FAC710;
	border-radius: 5px;
	margin: 5px;
	padding: 3px 8px;
}
.day-button:hover {
	background-color: #FAC710;
}
.selected{
	background-color: #FAC710;
}
.used{
	background-color: #FEF9E7;
}
.title-container{
	margin: 40px 0px 30px 0px;
	text-align: center; 
} 
.title-text{
	font-size: 30px;
	font-weight: bold;
}
.aboutUs{
 
 background-image: url("../Image/AboutUsImage/aboutUs.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 2600px;
 
}