@charset "UTF-8";

a{
	text-decoration: none;
	color: black;
}
.calendar{
	margin: 50px 0px;
}
.calendarTitle{
	margin-top: 50px;
}
.calendarTitle-font{
	font-size: 30px;
	font-weight: bold;
}
.changeCalendar{
	color: gray;
	margin-top: 20px;
	font-size: 23px;
	font-weight: bold;
}
.calendar_year{
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
	color: gray;
}
.calendar_month{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	margin: 0px 5px;
}
.calendar_year:hover {
	color: #FAC710;
}
.calendar_month:hover {
	color: #FAC710;
}
.calendar-button-div{
	width: 68%;
	text-align: right;
	margin: 10px 0px;
}
.calendar_body{
	width: 68%;
	height: 800px;
}
.day{
	color: black;
	font-weight: 700;
	padding: 5px;
}
.calendar-box{
	padding: 5px;
	border-bottom: 1px solid lightgray;
}
.sun{
	color: red;
}
.sat{
	color: blue;
}
.calendar-num{
	font-weight: 700;
	margin-bottom: 20px;
}
.reservation-area{
	background-color: #fcedb6;
}