@charset "UTF-8";

a{
	text-decoration: none;
	color: black;
}
.b{
	font-weight: bold;
}
.calendar-container{
	margin: auto;
	text-align: center;
}
.calendar{
	text-align: center;
}
.calendar-none{
	text-align: center;
	border-bottom: 1px solid gray;
}
.day-area{
	background-color: #F9F7F4;
	border-top: 1.5px solid gray;
	border-bottom: 1px solid lightgray;
}
.calendar{
	margin: 50px 0px;
	text-align: center;
}
.calendarTitle{
	margin-top: 40px;
	text-align: center; 
}
.calendarTitle-font{
	font-size: 30px;
	font-weight: bold;
}
.detail-title{
	margin-top: 50px;
	text-align: center;
}
.detail-title-font{
	font-size: 23px;
	font-weight: bold;
}
.calendarSubtitle-font{
	font-size: 18px;
	font-weight: bold;
	color: gray;
	margin-top: 20px;
}
.changeCalendar{
	color: gray;
	margin-top: 20px;
	font-size: 23px;
	font-weight: bold;
}
.calendar_year{
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
	color: gray;
}
.calendar_month{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	margin: 0px 5px;
}
.calendar_year:hover {
	color: #FAC710;
}
.calendar_month:hover {
	color: #FAC710;
}
.calendar-button-div {
	margin: auto;
	margin: 15px 0px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.calendar-button-container {
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: center;
	width: 70%;
}
.calendar-button-div .left {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	text-align: left;
}
.calendar-button-div .right {
	text-align: right;
}
.m-right{
	margin-right: 4px;
}
.calendar-body{
	width: 70%;
	height: 800px;
	text-align: center;
	margin: auto; 
	background-color: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.calendar-box{
	padding: 10px;
	border-bottom: 1px solid lightgray;
	position: relative;
	height: 250px;
}
.t-calendar-box{
	padding: 10px;
	position: relative;
	height: 250px;
	background-color: #F5FAFF;
	border-bottom: 1px solid lightgray;
}
.day{
	color: black;
	font-weight: 700;
	padding: 8px 14px;
}
.sun{
	color: red;
}
.sat{
	color: #1660EA;
}
.calendar-margin{
	margin-bottom: 50px;
}
.calendar-num{
	font-weight: 700;
	margin-bottom: 20px;
	position: absolute;
	top: 10%;
	left: 12%;
	transform: translate(-50%, -50%);
}
.today-area{
	background-color: pink;
	font-weight: bold;
}
.reservation-area{
	background-color: #FEF9E7;
	margin: 10px 0px;
	color : black;
	padding: 5px 0px;
	border-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.reservation-area:hover{
	transform: scale(1.05);
}
.calender-text{
	color: black;
	text-decoration: none;
	margin-left: 10px;
}
.calender-text-s{
	color: black;
	font-size: 14px;
	text-align: center;
}
.calender-text-id{
	color: gray;
	margin-left: 5px;
}

.rstate-area{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	margin: 10px 0px;
	text-align: center;
	transition: transform 0.3s;
	border-radius: 10px;
}
.rstate-area:hover{
	transform: scale(1.05);
}
.rstate-container{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
	margin: 5px 0px;
	text-align: center;
	transition: transform 0.3s;
	border-radius: 10px;
}
.rstate-container-gc{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
	margin: 5px 0px;
	text-align: center;
	transition: transform 0.3s;
	border-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEF9E7; 
	padding: 10px 7px;
}
.rstate-container-t{
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
	margin: 5px 0px;
	text-align: center;
	transition: transform 0.3s;
	border-radius: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEF9E7; 
	padding: 5px 10px;
}
.center{
	display: flex;
    align-items: center;
    justify-content: center;
}
.rstate-container:hover{
	transform: scale(1.05);
}
.rstate-container-gc:hover{
	transform: scale(1.05);
}
.rstate-container-t:hover{
	transform: scale(1.05);
}
.rstate-dot{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	margin: 10px 0px;
	text-align: center;
	background-color: #FEF9E7; 
	border-radius: 10px;
}
.rstate-y{
	background-color: #F7F7F8;
	padding: 4px 0px;
	font-weight: bold;
}
.rstate-g{
	background-color: #Ffffff; 
	padding: 2px 0px;
}
.rstate-n{
	background-color: #FEF9E7; 
	padding: 4px 0px;
	font-weight: bold;
}
.rstate-box{
	background-color: #FEF9E7; 
	padding: 10px 5px;
}
.rstate-btn-area{
	padding: 3px 0px;
	display: flex;
	background-color: #FEF9E7;
}
.left-btn{
	flex: 1;
}
.right-btn{
	flex: 1;
}
.rstate-btn-blue{
	background-color: #FEF9E7;
	width: 100%;
	height: 100%;
	color: #1660EA;
	font-weight: bold;
	border: none;
}
.rstate-btn-red{
	background-color: #FEF9E7;
	width: 100%;
	height: 100%;
	color: #F92E61;
	font-weight: bold;
	border: none;
}
.rstate-btn-blue:hover {
	color: #FAC710;
}
.rstate-btn-red:hover {
	color: #FAC710;
}


.detail-body{
	background-color: #FEF9E7;
	text-align: center;
}
.detail-container{
	background-color: #ffffff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); 
	text-align: center;
	width: 80%;
	margin-top: 20px;
	border-radius: 10px;
}
.detail-name-box{
	width: 80%;
	text-align: right;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}
.tr{
	text-align: center;
}
.sub-title{
	font-weight: bold;
	padding: 15px 5px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
}
.sub-title-i{
	font-weight: bold;
	padding: 15px 5px;
	border-bottom: 1px solid lightgray;
	border-right: 1px solid lightgray;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-i{
	margin: 10px;
}
.sub-title-last{
	font-weight: bold;
	padding: 15px 5px;
	border-right: 1px solid lightgray;
}
.sub-text{
	padding: 10px 5px;
	border-bottom: 1px solid lightgray;
}
.sub-text-last{
	padding: 10px 5px;
}
button.close-button {
	margin-top: 40px;
	margin-bottom: 60px;
	background-color: #FAC710;
	border: none;
	outline: none;
	border-radius: 8px; 
	padding: 8px 25px;
	font-weight: bold;
	font-size: 15px;
}
button.close-button:hover {
	background-color: #FFCA2C;
}

.usage-area{
	padding: 8px 12px;
	background-color: #F7F7F8;
	border-radius: 8px; 
	margin-right: 5px;
	border: none;
}
.day-area td {
  text-align: left;
}

.stateList-body{ 
	width: 70%;
	text-align: center;
}

.stateList-title{
	font-weight: bold;
	font-size: 18px; 
	width: 70%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 13px;
}
.m-top{
	margin-top: 50px;
}
