@charset "UTF-8";

a{
	text-decoration: none;
	color: black;
}
.day-area{
	background-color: #FEF9E7;
	border-top: 1.5px solid gray;
	border-bottom: 1px solid lightgray;
}
.calendar{
	margin: 50px 0px;
}
.calendarTitle{
	margin-top: 50px;
}
.calendarTitle-font{
	font-size: 30px;
	font-weight: bold;
}
.calendarSubtitle-font{
	font-size: 18px;
	font-weight: bold;
	color: gray;
	margin-top: 20px;
}
.changeCalendar{
	color: gray;
	margin-top: 20px;
	font-size: 23px;
	font-weight: bold;
}
.calendar_year{
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
	color: gray;
}
.calendar_month{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
	margin: 0px 5px;
}
.calendar_year:hover {
	color: #FAC710;
}
.calendar_month:hover {
	color: #FAC710;
}
.calendar-button-div{
	width: 68%;
	text-align: right;
	margin: 10px 0px;
}
.calendar_body{
	width: 68%;
	height: 800px;
	margin-top: 20px;
}
.calendar-box{
	padding: 5px;
	border-bottom: 1px solid lightgray;
	position: relative;
}
.day{
	color: black;
	font-weight: 700;
	padding: 8px 5px;
}
.sun{
	color: red;
}
.sat{
	color: blue;
}
.calendar-margin{
	margin-bottom: 50px;
}
.calendar-num{
	font-weight: 700;
	margin-bottom: 20px;
	position: absolute;
	top: 10%;
	left: 7%;
	transform: translate(-50%, -50%);
}
.today-area{
	background-color: pink;
	font-weight: bold;
}
.reservation-area{
	background-color: #FEF9E7;
	margin: 10px 0px;
	color : black;
	padding: 5px 0px;
	padding-left: 10px;
}
.calender-text{
	color: black;
	text-decoration: none;
	margin-left: 10px;
}